@page "/tasktimer"
@rendermode InteractiveServer
@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>Task Timer</PageTitle>

<h3>Task Timer</h3>

<div class="card" style="width: 400px;">
    <div class="card-body">
        <h3 class="card-title">Pomodoro Timer</h3>

        <div class="mb-3">
            <p>Remaining Time:&nbsp
                <span id='timerDisplay'>@FormatTime(_taskTimer.RemainingTime)</span>
            </p>
            <p>Current Phase: @CurrentPhase</p>
            <p>Status: @TimerStatus</p>
        </div>

        <button @onclick="StartTimerAsync" id="startTimerBtn" class="btn btn-primary me-2">
            Start
        </button>

        <button @onclick="TogglePause" id="togglePauseBtn" class="btn btn-warning">
            @(_taskTimer.IsRunning ? "Pause" : "Resume")
        </button>
    </div>
</div>

@code {
    private const int DefaultWorkMinutes = 25;
    private const int DefaultBreakMinutes = 5;

    private Eddy.TaskTimer _taskTimer = new Eddy.TaskTimer(DefaultWorkMinutes, DefaultBreakMinutes);
    private static double CurrentRemainingTimeSecs { get; set; } = DefaultWorkMinutes * 60;
    private string TimerStatus { get; set; } = "Idle";
    private string CurrentPhase { get; set; } = string.Empty;
    private IJSObjectReference? module;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/TaskTimer.razor.js");
            await AddHandlers();
        }
    }

    public async Task AddHandlers()
    {
        if (module is not null)
        {
            await module.InvokeVoidAsync("addHandlers", _taskTimer.WorkMinutes);
            StateHasChanged();
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }

    private async Task StartTimerAsync()
    {
        if (!_taskTimer.IsRunning)
        {
            CurrentPhase = _taskTimer.IsWorkTime ? "work" : "break";
            TimerStatus = $"Started {CurrentPhase} timer.";

            // Capture the initial remaining time
            CurrentRemainingTimeSecs = _taskTimer.RemainingTime;

            // wait on server thread for task timer app code
            await _taskTimer.StartAsync().ConfigureAwait(false);

            // Final update when timer completes
            CurrentRemainingTimeSecs = _taskTimer.RemainingTime;
        }
    }

    private void TogglePause()
    {
        _taskTimer.TogglePause();
        TimerStatus = _taskTimer.IsRunning ? "resumed" : "paused";
        CurrentPhase = _taskTimer.IsWorkTime ? $"work ({TimerStatus})" : $"break ({TimerStatus})";
    }

    private string FormatTime(double seconds)
    {
        int minutes = (int)(seconds / 60);
        int remainingSeconds = (int)seconds % 60;

        return $"{minutes:D2}:{remainingSeconds:D2}";
    }
}