@page "/worknotesreport"
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataEntities
@using Data

<PageTitle>Work Notes Report</PageTitle>

<h1>Work Notes Report Grid</h1>
<QuickGrid Items="workNotes">
    <PropertyColumn Property="@(w => w.RecordedAtTimeUtc.ToLocalTime())" Title="Time" />
    <PropertyColumn Property="@(w => w.Description)" Title="Description" />
</QuickGrid>

@code {
    [Inject]
    private EddyWorkNotesContext context { get; set; } = null!;

    private IQueryable<WorkNote> workNotes = Array.Empty<WorkNote>().AsQueryable();

    protected override void OnInitialized()
    {
        if (context != null)
        {
            workNotes = context.WorkNote
                .OrderBy(x => x.RecordedAtTimeUtc);
        }
    }

    public void Dispose()
    {
        if (context != null && context.Database != null)
        {
            context.DisposeAsync().GetAwaiter().GetResult();
        }
    }
}