@page "/worknotes/create"
@using Microsoft.EntityFrameworkCore
@using DataEntities
@inject IDbContextFactory<ui.Data.EddyWorkNotesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>WorkNote</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="WorkNote" OnValidSubmit="AddWorkNote" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="recordedattime" class="form-label">RecordedAtTime:</label> 
                <InputDate id="recordedattime" @bind-Value="WorkNote.RecordedAtTime" class="form-control" /> 
                <ValidationMessage For="() => WorkNote.RecordedAtTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="WorkNote.Description" class="form-control" /> 
                <ValidationMessage For="() => WorkNote.Description" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/worknotes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private WorkNote WorkNote { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddWorkNote()
    {
        using var context = DbFactory.CreateDbContext();
        context.WorkNote.Add(WorkNote);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/worknotes");
    }
}
