@page "/worknotes/details"
@using Microsoft.EntityFrameworkCore
@using DataEntities
@inject IDbContextFactory<ui.Data.EddyWorkNotesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>WorkNote</h2>
    <hr />
    @if (worknote is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">RecordedAtTime</dt>
            <dd class="col-sm-10">@worknote.RecordedAtTimeUtc</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@worknote.Description</dd>
        </dl>
        <div>
            <a href="@($"/worknotes/edit?id={worknote.Id}")">Edit</a> |
            <a href="@($"/worknotes")">Back to List</a>
        </div>
    }
</div>

@code {
    private WorkNote? worknote;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        worknote = await context.WorkNote.FirstOrDefaultAsync(m => m.Id == Id);

        if (worknote is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
