# ignore some hidden directories by path
.aider*
.planning-docs/DEDICATION.txt
.planning-docs/todo.txt

# ignore C# compiled object and binaries under source directory
*/**/obj
*/**/bin

# ignore vstest results folder
vstest_results
app/bin/Debug/net8.0/Eddy.deps.json

# ignore mermaid diagram builder scripts in docs folder
docs/mermaid*.js
