# ignore some hidden directories by path
.aider*
.planning-docs/DEDICATION.txt
.planning-docs/todo.txt

# ignore C# compiled object and binaries under source directory
*/**/obj
*/**/bin

# ignore vstest results folder
vstest_results

# ignore mermaid diagram builder scripts in docs folder
docs/mermaid*.js

# ignore test results folder from Playwright project
PlaywrightTests/TestResults/

# exclude mdbook non-source files
docs/book

# exclude local databases from development
ui/*.db
ui/*.db-shm
ui/*.db-wal
